.toogle-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.toogle-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    min-width: 200px;
    text-align: center;
}

.toogle-btn:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.toogle-btn:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.toogle-btn:hover {
    color: white;
    background-color: green;
}

.toogle-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
}